rankflo.io {
	reverse_proxy web:3000

	encode gzip zstd

	header {
		# Security headers
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		X-XSS-Protection "1; mode=block"
		Referrer-Policy strict-origin-when-cross-origin
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		# Remove server header
		-Server
	}
}

www.rankflo.io {
	redir https://rankflo.io{uri} permanent
}

docs.rankflo.io {
	reverse_proxy docs:3001

	encode gzip zstd

	header {
		X-Content-Type-Options nosniff
		Referrer-Policy strict-origin-when-cross-origin
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		-Server
	}
}
